<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/shared.css" th:href="@{/css/shared.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/project/editor.css"
          th:href="@{/css/project/editor.css}">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicon-32x32.png"
          th:href="@{/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon-16x16.png"
          th:href="@{/favicon-16x16.png}">
    <link rel="shortcut icon" type="image/png" href="../../static/favicon-32x32.png" th:href="@{/favicon-32x32.png}">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="../../static/js/project/editor.js" th:src="@{/js/project/editor.js}"></script>
    <script th:inline="javascript">/*<![CDATA[*/
    var projectId = /*[[${projectId}]]*/ 'default'; /*]]>*/
    var filesChanged = false;
    </script>
    <title>PolyTeX - LaTeX Editor</title>
</head>

<body ng-app="app" ng-controller="ctrl">

<div class="main">
    <div class="main-container">
        <header>
            <div class="container">
                <b class="unselectable-text"><img alt="ИКНТ"
                                                  class="logo"
                                                  src="https://dl.spbstu.ru/pluginfile.php/1/core_admin/logocompact/0x70/1590582551/logo_iknt.png">PolyTeX
                    - LaTeX Editor</b>
                <nav class="main-nav">
                    <ul class="main-nav-list">
                        <li>
                            <a href="history">К истории изменения проекта</a>
                        </li>
                        <li>
                            <a href="/projects">Вернуться на главную</a>
                        </li>
                        <li>
                            <a href="/logout">Выйти из системы</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="flex-container">
            <div class="main-panel" id="left-panel">
                <div class="main-content">
                    <button class="control-butt" id="compile-butt" ng-click="sendForCompilation()">Компиляция</button>
                    <button class="control-butt" id="save-butt" ng-click="saveDocs()">Сохранить файлы</button>
                    <button class="control-butt" id="clear-butt" ng-click="clearAux()">Удалить aux-файлы</button>
                    <input hidden="true" id="upload-file" max="9999" min="1" multiple="true"
                           onchange="angular.element(this).scope().uploadFiles(this.files)"
                           type="file">
                    <label class="unselectable-text" for="upload-file" id="upload-butt">Загрузить файлы</label>

                    <input id="new-file" placeholder="Имя нового файла" type="text">
                    <button class="control-butt" id="new-file-butt" ng-click="createItem('file')">Создать</button>

                    <input id="new-folder" placeholder="Имя новой папки" type="text">
                    <button class="control-butt" id="new-folder-butt" ng-click="createItem('dir')">Создать</button>

                    <div id="file-list-wrap"></div>
                </div>
                <footer>
                    <a href ng-click="archiveProject()">Скачать проект архивом</a>
                </footer>
            </div>

            <div class="main-panel" id="source-wrap" contenteditable
                 onblur="angular.element(this).scope().saveOpenedDocLocally()"
                 onkeydown="filesChanged = true">
            </div>

            <div class="main-panel" id="result-wrap">

            </div>
        </div>
    </div>
</div>
</body>
</html>