<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Diplom</title>
    <link rel="stylesheet" type="text/css" href="../../static/src/project/editor.css" th:href="@{/src/project/editor.css}">
    <link rel="shortcut icon" type="image/png" href="../../static/favicon.png" th:href="@{/favicon.png}">
    <link rel="icon" type="image/png" href="../../static/favicon.png" th:href="@{/favicon.png}">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="../../static/src/project/editor.js" th:src="@{/src/project/editor.js}"></script>
    <script th:inline="javascript">/*<![CDATA[*/
    var projectId = /*[[${projectId}]]*/ 'default'; /*]]>*/
    var filesChanged = false;
    </script>
</head>

<body ng-app="app" ng-controller="ctrl">

<header>
    <h1>Latex editor</h1>
    <button class="compile-butt" ng-click="sendForCompilation()">Compile</button>
    <button class="save-butt" ng-click="saveDocs()">Save files</button>
    <form id="logout-form" method="post" action="/logout">
        <button type="submit">Logout</button>
    </form>
    <button class="clear-butt" ng-click="clearAux()">Clear aux files</button>
    <a th:href="@{/projects/{id}/history(id=${projectId})}">to history</a>
</header>

<div class="flex-container">
    <div class="main-panel" id="file-list">
        <input id="upload-file" type="file" onchange="angular.element(this).scope().uploadFile(this.files[0])"
               hidden="true">
        <label for="upload-file" id="upload-butt">Upload file</label>

        <input type="text" id="new-file" placeholder="File name">
        <button class="new-file-butt" ng-click="createItem('file')">Create</button>

        <input type="text" id="new-folder" placeholder="Folder name">
        <button class="new-folder-butt" ng-click="createItem('dir')">Create</button>

        <div id="file-list-wrap"></div>
    </div>

    <div class="main-panel" id="source-wrap" contenteditable
         onblur="angular.element(this).scope().saveOpenedDocLocally()"
         onkeydown="filesChanged = true">
    </div>

    <div class="main-panel" id="result-wrap">

    </div>
</div>

</body>

</html>