<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/project/history.css" th:href="@{/project/history.css}">
    <link rel="shortcut icon" type="image/png" href="../../static/favicon.ico" th:href="@{/favicon.ico}">
    <link rel="icon" type="image/png" href="../../static/favicon.ico" th:href="@{/favicon.ico}">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="../../static/project/history.js" th:src="@{/project/history.js}"></script>
    <link rel="stylesheet" type="text/css" href="../../static/project/jsdifflib/diffview.css" th:href="@{/project/jsdifflib/diffview.css}">
    <script src="../../static/project/jsdifflib/difflib.js" th:src="@{/project/jsdifflib/difflib.js}"></script>
    <script src="../../static/project/jsdifflib/diffview.js" th:src="@{/project/jsdifflib/diffview.js}"></script>
    <script th:inline="javascript">/*<![CDATA[*/
    var projectId = /*[[${projectId}]]*/ 'default', commits = /*[[${commits}]]*/ 'default',
        curFiles = /*[[${files}]]*/ 'default'; /*]]>*/ </script>
    <title>Project history</title>
</head>
<body ng-app="app" ng-controller="ctrl">
<header>

    <div class="page-name">
        <h1><a th:href="@{'/projects/' + ${projectId} + '/'}">←</a></h1>
        <h1>&nbsp;File comparison</h1>
    </div>

    <div class="main-panel" id="file-select">
        <span class="before"></span>
        <span class="inner">
        <select onchange="angular.element(this).scope().showFilesDiff(value)">
            <option id="null-file" value="" disabled selected>Select file</option>
            <option ng-repeat="filename in allFiles">{{filename}}</option>
        </select>
        <button ng-click="rollback()">rollback</button>
        </span>
    </div>

    <div class="main-panel" id="commit-select">
        <h2>Select commit:</h2>
    </div>
</header>

<div class="flex-container">
    <div class="main-panel" id="current-doc">

    </div>

    <div class="main-panel" id="commit-list">
        <ul>
            <th:block th:each="commit : ${commits}">
                <li>
                    <a th:text="${commit.commitTime}" th:id="${commit.commitId}" href
                       onclick="angular.element(this).scope().loadCommitFiles(this)">Commit</a>
                </li>
            </th:block>
        </ul>
    </div>
</div>
</body>
</html>