html, body, .document, .main-panel, .before {
    height: 100%;
}

img, header, .document {
    width: 100%;
}

.main-panel, img, html, body, h1, a {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    height: 7%;
    background-color: #37B34A;
}

header .main-panel {
    text-align: right;
}

button, a {
    margin-left: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 93%;
}

.flex-container .main-panel {
    background-color: whitesmoke;
}

.main-panel {
    overflow: auto;
    border-right: 1px solid black;
}

span {
    display: inline-block;
    vertical-align: middle;
}

select {
    width: 150px;
    margin-right: 0;
}

#current-doc {
    width: 67%;
}

.page-name {
    width: 34%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#file-select, #commit-select, #commit-list {
    width: 33%;
}

#commit-select {
    border-right: 1px solid black;
    text-align: center;
}