html, body, .container-block, .document, #file-list {
    height: 100%;
}

img, .container-block, .document, header, .flex-container {
    width: 100%;
}

.main-panel, #logout-form, img, html, body, h1 {
    padding: 0;
    margin: 0;
}

.main-panel {
    overflow: auto;
}

header {
    display: flex;
    align-items: center;
    height: 7%;
    background-color: #37B34A;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 93%;
}

#source-wrap {
    border-right: 1px solid black;
    background-color: whitesmoke;
    width: 42%;
}

#result-wrap {
    background-color: grey;
    width: 50%;
}

#file-list {
    background-color: lightgoldenrodyellow;
    border-right: 1px solid black;
    width: 8%;
}

#file-list > input {
    width: 99%;
}

#file-list p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.file-list {
    list-style: none;
    margin-left: 2px;
    padding-left: 2px;
}

#upload-butt {
    border: 2px solid black;
}

.delete-butt {
    float: left;
}