<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>409</title>

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../static/css/error.css" th:href="@{/css/error.css}">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicon-32x32.png" th:href="@{/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon-16x16.png" th:href="@{/favicon-16x16.png}">
    <link rel="shortcut icon" type="image/png" href="../../static/favicon-32x32.png" th:href="@{/favicon-32x32.png}">

</head>

<body>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Oops! Conflict</h3>
            <h1><span>4</span><span>0</span><span>9</span></h1>
        </div>
        <h2>Another user is already working with this project</h2>
        <h2><a href="/projects">Return to main page</a></h2>
    </div>
</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
