.main-panel, .flex-container {
    overflow: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#source-wrap {
    flex: 1;
    border-right: 1px solid black;
    background-color: whitesmoke;
    width: 42%;
}

#source-wrap img {
    width: 100%;
}

#result-wrap {
    flex: 1;
    background-color: grey;
    width: 50%;
}

#left-panel {
    display: flex;
    flex-direction: column;
    background-color: lightgoldenrodyellow;
    border-right: 1px solid black;
    height: 100%;
    width: 10%;
    min-width: 150px;
}

#left-panel .main-content {
    flex: 1 0 0;
}

#left-panel footer {
    flex: 0 0 auto;
    padding-bottom: 10px;
    text-align: center;
}

#file-list-wrap {
    overflow: auto;
}

.file-list {
    list-style: none;
    margin-left: 2px;
    padding-left: 2px;
}

#upload-butt {
    background-color: #DDDDDD;
}

.delete-butt {
    float: left;
}

input, .control-butt, #upload-butt {
    width: 100%;
    margin-bottom: 10px;
}