<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="../static/favicon.png" th:href="@{/favicon.png}">
    <link rel="icon" type="image/png" href="../static/favicon.png" th:href="@{/favicon.png}">
    <title>Your projects</title>
</head>
<body>

<form id="new-project" method="post" action="/projects">
    <input type="text" name="projectName" placeholder="Имя проекта" required>
    <input type="submit" value="Создать">
</form>

<form id="logout-form" method="post" action="/logout">
    <button type="submit">Logout</button>
</form>

<br>

<table border="1">
    <tr>
        <td>№</td>
        <td>ID</td>
        <td>Имя</td>
        <td>Владельцы</td>
        <td>Добавить владельца</td>
        <td>Убрать владельца</td>
        <td>Удалить проект</td>
    </tr>
    <th:block th:each="proj, iStat : ${projects}">
        <tr>
            <td th:text="${iStat.index + 1}">№</td>
            <td th:text="${proj.id}">ID</td>
            <td><a th:href="'/projects/' + ${proj.id}">[[${proj.name}]]</a></td>
            <td th:text="${proj.owners}">Владельцы</td>
            <td>
                <form id="add-owner-form" method="post"
                      th:action="@{/projects/{projectId}/add-owner/(projectId=${proj.id})}">
                    <input type="text" name="email" placeholder="email" required>
                    <button type="submit">Add</button>
                </form>
            </td>
            <td>
                <form id="remove-owner-form" method="post"
                      th:action="@{/projects/{projectId}/remove-owner/(projectId=${proj.id})}">
                    <select name="email">
                        <th:block th:each="user: ${proj.owners}">
                            <option th:text="${user}">email</option>
                        </th:block>
                    </select>
                    <button type="submit">Remove</button>
                </form>
            </td>
            <td><a th:href="'/delete-project?projectId=' + ${proj.id}">Удалить</a></td>
        </tr>
        <br>
    </th:block>
</table>

</body>
</html>