<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="../static/favicon.ico" th:href="@{favicon.ico}">
    <link rel="icon" type="image/png" href="../static/favicon.ico" th:href="@{favicon.ico}">
    <title>Register</title>
</head>
<body>
<form id="login-form" method="post" action="/registration">
    <input type="text" autocomplete="email" name="email" placeholder="Почта" required>
    <br>
    <input type="password" autocomplete="password" name="password" placeholder="Пароль" required>
    <br>
    <input type="submit" value="Register">
</form>
</body>
</html>